.primary-color {
    background-color: #072227;
}

.primary-text-color {
    background-color: #35858B;
}

.secondary-color {
    background-color: #4FBDBA;
}

.secondary-text-color {
    background-color: #AEFEFF;
}
