:root {
    /*--primary-color: #072227;*/
    /*--primary-text-color: #35858B;*/
    /*--secondary-color: #4FBDBA;*/
    /*--secondary-text-color: #AEFEFF;*/
    --primary-color: #181818;
    --primary-text-color: #00ADB5;
    --secondary-color: #294A63;
    --secondary-text-color: #D6C358;
}

.up-buttons:hover {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.primary-color {
    background-color: var(--primary-color);
}

.primary-text-color {
    color: var(--primary-text-color) !important;
}

.secondary-color {
    background-color: var(--secondary-color);
}

.secondary-text-color {
    color: var(--secondary-text-color) !important;
>>> >>> > e2182cd (Build admin ui)
}

.grid-container {
    width: 90%;
    display: grid;
    /*grid-gap: 15rem;*/
    column-gap: 18rem;
    row-gap: 6rem;
    grid-template-columns: repeat(4, 4rem);
}
.sub-grid-container {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    /*grid-gap: 15rem;*/
    column-gap: 3rem;
    row-gap: 6rem;
    grid-template-columns: repeat(3, 2rem);
}

.grid-item {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-color: var(--primary-text-color);
    border-radius: 3%;
    border-width: 0.2rem;
    border-style: solid;
    padding: 1.5rem 9rem ;
    font-size: 150%;
    transition-duration: 1s;
}

.sub-grid-item {
    background-color: inherit;
    color: var(--primary-color);
    /*border-color: var(--primary-text-color);*/
    /*border-radius: 3%;*/
    /*border-width: 0.2rem;*/
    /*border-style: solid;*/
    padding: 0.2rem 1rem ;
    /*font-size: 150%;*/
    transition-duration: 1s;
}
.grid-item:hover{
    transform: skew(-3deg) scale(1.1) rotate(-3deg) translate(0.6rem);
    transition: ease-in-out;
    transition-duration: 500ms;
    background-color: var(--secondary-color);
    /*color: var(--primary-text-color);*/
    border-color: var(--secondary-text-color);
}
/* 4x */
.fa-center-tall {
    text-align: center;
    line-height: inherit;
    margin-left: -2rem;
}
/* 4x */
.fa-center-fat{
    text-align: center;
    line-height: inherit;
    margin-left: -3rem;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--primary-text-color);
}

.left-text{
    margin-left: -7.6rem;
    overflow-wrap: anywhere;
    width: 15rem;
}

.normal-btn{
    margin: 1rem 1rem;
    color: var(--secondary-text-color) !important;
    background-color: var(--secondary-color);
}
.normal-btn + .normal-btn{
    margin: 1rem 0.5rem;
}
.normal-btn:hover{
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    color: var(--primary-text-color) !important;
    background-color: var(--secondary-color);
}

.fa-1_6x {
    font-size: 1.6em !important;
}
