<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/fav/apple-touch-icon.png}" href="../static/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/fav/favicon-32x32.png}" href="../static/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/fav/favicon-16x16.png}" href="../static/fav/favicon-16x16.png">
    <link rel="manifest" th:href="@{/fav/site.webmanifest}" href="../static/fav/site.webmanifest">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/general.css}" href="../static/css/general.css">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/204035da51.js"
            crossorigin="anonymous"></script>

</head>

<body class="primary-color">

<div th:insert="fragment/header.html :: header"></div>


<div class="container-fluid secondary-text-color secondary-color text-center"> List of Users</div>


<button sec:authorize="hasRole('ADMIN')" type="button" class="btn normal-btn" onclick=location.href="/admin/user">
    Add User <span class="badge primary-text-color">
                    <i class="fas fa-user-plus fa-1_6xx"></i>
                </span>
</button>

<div class="container-fluid">
    <table class="table primary-text-color">
        <thead class="secondary-color">
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Change Password</th>
            <th scope="col">Delete User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${usersList}">
            <td th:text="${user.firstname}">John</td>
            <td th:text="${user.lastname}">Doe></td>
            <td th:text="${user.username}">JohnDoe</td>
            <td th:text="${user.email}">Email@example.com</td>
            <td>
                <button type="button" class="button btn btn-success"
                        th:attr="onclick=|changePassword('${user.id}')|"
                        onclick="changePassword(0)">
                    <i class="fas fa-cog"></i>
                </button>
            </td>
            <td>
                <button type="button" class="button btn btn-danger"
                        th:attr="onclick=|deleteUser('${user.id}')|"
                        onclick="deleteUser(0)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script>
    function deleteUser(id) {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.status === 204) {
                location.reload()
            }
        };
        xhr.open("DELETE", window.location.href + "/" + id, true);
        xhr.send();
    }

    function changePassword(id) {
        pwd = prompt("Enter Password:")
        let msg = false;
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.status === 202 && !msg) {
                msg = true;
                if (pwd != null ) {
                    alert("Password Changed Successfully");

                }
            }
        };
        xhr.open("PUT", window.location.href + "/" + id + "/password?password=" + pwd, true);
        xhr.send();
    }

</script>
