<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/general.css">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/204035da51.js"
            crossorigin="anonymous"></script>

    <style>
        .add-user-button:hover {
            color: var(--secondary-text-color);
            cursor: pointer;
        }
    </style>
</head>

<body class="primary-color">

<div class="container-fluid primary-text-color text-center">

</div>


<div th:insert="fragment/header.html :: header"></div>


<div class="container-fluid primary-text-color text-center"> List of Users</div>

<div class="container-fluid primary-text-color text-center">
    <div class="row">
        <div class="col-1" onclick=location.href="/admin/user" sec:authorize="hasRole('ADMIN')" >
            <i class="add-user-button fas fa-user-plus fa-2x">
            </i>
        </div>
    </div>

</div>

<div class="container-fluid">
    <table class="table primary-text-color">
        <thead class="secondary-color">
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Change Password</th>
            <th scope="col">Delete User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${usersList}">
            <td th:text="${user.firstname}">John></td>
            <td th:text="${user.lastname}">Doe></td>
            <td th:text="${user.email}">Email@example.com></td>
            <td>
                <button type="button" class="button btn btn-success"
                        th:attr="onclick=|changePassword('${user.id}')|"
                        onclick="changePassword(0)">
                    <i class="fas fa-cog"></i>
                </button>
            </td>
            <td>
                <button type="button" class="button btn btn-danger"
                        th:attr="onclick=|deleteUser('${user.id}')|"
                        onclick="deleteUser(0)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script>
    function deleteUser(id) {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.status === 204) {
                location.reload()
            }
        };
        xhr.open("DELETE", window.location.href + "/" + id, true);
        xhr.send();
    }

    function changePassword(id) {
        pwd = prompt("Enter Password:")
        let msg = false;
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.status === 202 && !msg) {
                msg = true;
                if (pwd != null ) {
                    alert("Password Changed Successfully");

                }
            }
        };
        xhr.open("PUT", window.location.href + "/" + id + "/password?password=" + pwd, true);
        xhr.send();
    }

</script>
