<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/general.css">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/204035da51.js" crossorigin="anonymous"></script>
</head>

<body>
<div th:insert="fragment/header.html :: header"></div>

<div class="container-fluid primary-text-color text-center">  List of Users </div>

<div class="container-fluid">
    <table class="table primary-text-color">
        <thead class="secondary-color">
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email </th>
                <th scope="col">Change Password</th>
                <th scope="col">Delete User </th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="user:${usersList}">
                <td th:text="${user.firstname}">John></td>
                <td th:text="${user.lastname}">Doe></td>
                <td th:text="${user.email}">Email@example.com></td>
                <td> <button type="button" class="button btn btn-success">
                        <i class="fas fa-cog"></i>
                    </button></td>
                <td>
                    <button type="button" class="button btn btn-danger" th:attr="onclick=|deleteUser('${user.id}','${sessionId}')|">
                        <i class="fas fa-trash-alt" colo></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script>
    function deleteUser(id, currentSessionID) {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.status === 204) {
                location.reload()
            }
        };
        xhr.open("DELETE", window.location.href + "/" + id + "/?sessionId=" + currentSessionID, true);
        xhr.send();
    }

</script>
