<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="apple-touch-icon" sizes="180x180"
          th:href="@{/fav/apple-touch-icon.png}"
          href="../static/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          th:href="@{/fav/favicon-32x32.png}"
          href="../static/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/fav/favicon-16x16.png}"
          href="../static/fav/favicon-16x16.png">
    <!--    <link rel="manifest" th:href="@{/fav/site.webmanifest}" href="../static/fav/site.webmanifest">-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Files</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/204035da51.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/general.css}"
          href="../static/css/general.css">

</head>
<body class="primary-color" onload="timedRefresh(5000);">

<div th:insert="fragment/header.html :: header"></div>
<nav aria-label="breadcrumb" class="secondary-color container-fluid">
    <!--    <p class="primary-text-color">Location:</p>-->
    <ol class="breadcrumb">
        <li th:unless="${previousFolder.isBlank()}">
            <a class="primary-text-color" href="#"
               th:href="@{/files(parent=${previousFolder})}"><i
                    class="fas fa-backward fa-1x"></i> &nbsp;</a>
            &nbsp; |
        </li>

        <li>
            &nbsp;
            <i class="fas fa-folder-open fa-1x primary-text-color"></i>
            &nbsp;
        </li>
        <li class="breadcrumb-item active secondary-text-color"
            aria-current="page"
            th:text="${folder}" th:each="folder: ${explodedAddress}">Root
        </li>
        &nbsp;
        &nbsp;
        &nbsp;

        <li id="pageLoadDate" class="secondary-text-color invisible"
            aria-current="page"
            th:text="${pageLoadDate}"> time
        </li>
    </ol>

</nav>

<button type="button" class="btn normal-btn" onclick="createFolder('\'')"
        th:attr="onclick=|createFolder('${currentFolder}')|">
    New Folder <span class="badge primary-text-color">
                    <i class="fas fa-folder-open fa-1x"></i>
                </span>
</button>

<a href="#" th:href="@{/files/upload(parent=${currentFolder})}">
    <button type="button" class="btn normal-btn">
        Upload File <span class="badge primary-text-color">
                    <i class="fas fa-file fa-1x"></i>
                </span>
    </button>
</a>
<div class="container-fluid m-5 justify-content-center .overflow-hidden">
    <div class="grid-container justify-content-center">


        <div class=" grid-item" th:each="file: ${files}"
             th:if="${file.isDirectory}">
            <a href="#" th:href="@{/files(parent=${file.enterFolder})}">
                <div class="justify-content-center">
                    <i class="fas fa-folder fa-4x fa-center-fat"></i>
                </div>
                <div class="row left-text" th:text="${file.name}">
                    Folder
                </div>
            </a>
            <!--            options     -->
            <div class="sub-grid-container justify-content-center ">
                <a href="#" class="sub-grid-item" onclick="deleteFile(0)"
                   th:attr="onclick=|deleteFile('${file.id}')|">

                    <div class="justify-content-center">
                        <i class="fas fa-trash fa-1x "></i>
                    </div>
                </a>
                <a href="#" class="sub-grid-item"
                   onclick="renameFile(0)" th:attr="onclick=|renameFile('${file.id}')|">

                    <div class="justify-content-center">
                        <i class="fas fa-i-cursor fa-1x "></i>
                    </div>
                </a>
                <a href="#" class="sub-grid-item"
                   th:href="@{/files/share(id=${file.id})}">

                    <div class="justify-content-center">
                        <i class="fas fa-share-alt fa-1x"></i>
                    </div>
                </a>
            </div>

        </div>


        <div class="grid-item" th:each="file: ${files}"
             th:unless="${file.isDirectory}">

            <a href="#"
               th:href="@{/api/files/download/{id}(id=${file.id},sessionId=${sessionId})}">

                <div class="justify-content-center">
                    <i class="fas fa-file fa-4x fa-center-tall"></i>
                </div>
                <div class="row left-text ui-menu-item-wrapper"
                     th:text="${file.name}">
                    Filesdasad
                </div>
            </a>
            <!--            options     -->
            <div class="sub-grid-container justify-content-center ">
                <a href="#" class="sub-grid-item" onclick="deleteFile(0)"
                   th:attr="onclick=|deleteFile('${file.id}')|">

                    <div class="justify-content-center">
                        <i class="fas fa-trash fa-1x "></i>
                    </div>
                </a>
                <a href="#" class="sub-grid-item"
                   onclick="renameFile(0)" th:attr="onclick=|renameFile('${file.id}')|">

                    <div class="justify-content-center">
                        <i class="fas fa-i-cursor fa-1x "></i>
                    </div>
                </a>
                <a href="#" class="sub-grid-item"
                   th:href="@{/files/share(id=${file.id})}">

                    <div class="justify-content-center">
                        <i class="fas fa-share-alt fa-1x"></i>
                    </div>
                </a>
            </div>

        </div>

    </div>


    <!--     if empty:  -->
    <div class="alert secondary-text-color bold"
         th:if="${#lists.isEmpty(files)}">
        <i class="fas fa-exclamation-triangle fa-6x"> &nbsp; &nbsp;</i> This
        Folder is Empty!
    </div>
</div>

</body>
<script>
    function timedRefresh(timeoutPeriod) {
        setInterval(refresher, timeoutPeriod);
    }
    async function refresher() {
        const loadDate = document.getElementById("pageLoadDate").innerHTML;
        let parent = new URL(location.href).searchParams.get('parent');
        console.log("loadDate: " + loadDate)
        const changed = await fetch("/api/files/folder/update?folder=" + parent
            + "&lastModified=" + loadDate).then(res => res.json());
        console.log(changed);
        if (changed) {
            clearInterval(refresher)
            location.reload();
        }
    }

    async function deleteFile(id) {
        fetch("/api/files?id=" + id, {method: 'DELETE'})
            .then(res => {
                    if (res.status === 204) {
                        location.reload();
                    } else if (res.status === 406) {
                        alert("This folder is not empty. delete files inside and retry!");
                    } else {
                        console.log("unknown delete error!");
                    }
                }
            )
    }

    async function renameFile(id) {
        let name = prompt("Enter new name to rename:");
        console.log(name);
        if (!name || name.trim() === "") {
            alert("name cannot be empty")
            renameFile(id);
            return;
        }
        fetch("/api/files?id=" + id + "&name=" + name, {method: 'POST'})
            .then(res => {
                    if (res.status === 202) {
                        location.reload();
                    } else if (res.status === 406) {
                        alert("A file/folder with the same name exists here!");
                    } else {
                        console.log("unknown rename error!");
                    }
                }
            )
    }



    function createFolder(parent) {
        const name = prompt("Enter Folder name:");
        if (name == null) {
            return;
        }
        if (!name || name.trim() === "") {
            alert("Folder name cannot be empty!");
            createFolder(parent);
            return;
        }
        const xhr = new XMLHttpRequest();
        let msg = false
        xhr.onreadystatechange = function () {
            if (this.status === 201 && !msg) {
                msg = true;
                alert("Folder Created Successfully");
                location.reload();
            }
        };
        xhr.open("POST", "/api/files/upload/folder?name=" + name
            + "&parent=" + parent, true);
        xhr.send();
    }

</script>
</html>
