<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html lang="en">
<head>
    <head>
        <link rel="apple-touch-icon" sizes="180x180"
              th:href="@{/fav/apple-touch-icon.png}"
              href="../static/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
              th:href="@{/fav/favicon-32x32.png}"
              href="../static/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16"
              th:href="@{/fav/favicon-16x16.png}"
              href="../static/fav/favicon-16x16.png">
        <!--    <link rel="manifest" th:href="@{/fav/site.webmanifest}" href="../static/fav/site.webmanifest">-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Share File</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://kit.fontawesome.com/204035da51.js"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/general.css}"
              href="../static/css/general.css">

    </head>
</head>
<body class="primary-color">
<div th:insert="fragment/header.html :: header"></div>
<nav aria-label="breadcrumb" class="secondary-color container-fluid">
    <ol class="breadcrumb">
        &nbsp;
        <li>
            &nbsp;
            <i class="fas fa-folder-open fa-1x primary-text-color"></i>
            &nbsp;
        </li>
        <li class="breadcrumb-item active secondary-text-color"
            aria-current="page"
            th:text="${folder}" th:each="folder: ${explodedAddress}">Root
        </li>
    </ol>

</nav>


<div class="container-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-4 rounded  p-2 primary-color"
             style="border-style: solid ;border-color: var(--primary-text-color)">
            <div class="row justify-content-between ">
                <div class="col secondary-text-color">
                    <div th:text="${file.name}">
                        my file/folder name
                    </div>
                </div>

                <div class="col">

                    <div class="secondary-text-color"
                         style="display: flex; justify-content: end; padding-right: 10%">

                        <i class="fas fa-folder fa-4x pt-4 pr-4"
                           th:if="${file.isDirectory}"></i>
                        <i class="fas fa-file fa-4x pt-4 pr-4"
                           th:unless="${file.isDirectory}"></i>
                    </div>
                </div>
            </div>


            <!--     if empty:  -->
            <div class="alert secondary-text-color bold"
                 th:if="${#lists.isEmpty(file.sharedUsers)}">
                <i class="fas fa-exclamation-triangle fa-6x"> &nbsp; &nbsp;</i>
                Shared with no one Specifically!
            </div>
            <a href="#" style="overflow-wrap: anywhere; display: table-cell;"
               th:href="|https://kbox.shayandaneshvar.ir/api/files/share/download/${file.id}/link|">

            <div class="alert secondary-text-color" th:if="${file.isVisible}"
                 th:text="|https://kbox.shayandaneshvar.ir/api/files/share/download/${file.id}/link|">
                link
            </div>
            </a>
            <div>
                <button sec:authorize="isAuthenticated()" type="button"
                        class="btn normal-btn "
                        onclick="addUserToShare(0)"
                        th:attr="onclick=|addUserToShare('${file.id}')|">
                    Add User

                    <span class="badge primary-text-color secondary-color ">
                        <i class="fas fa-user-plus fa-1_6x"> </i>
                    </span>
                </button>
                <button sec:authorize="isAuthenticated()" type="button" th:unless="${file.isVisible} and not ${file.isDirectory}"
                        class="btn normal-btn "
                        onclick="toggleVisibility(0)"
                        th:attr="onclick=|toggleVisibility('${file.id}')|">
                    Share Link
                    <span class="badge primary-text-color secondary-color ">
                        <i class="fas fa-link fa-1_6x"> </i>
                        </span>
                </button>

                <button sec:authorize="isAuthenticated()" type="button" th:if="${file.isVisible} and not ${file.isDirectory}"
                        class="btn normal-btn "
                        onclick="toggleVisibility(0)"
                        th:attr="onclick=|toggleVisibility('${file.id}')|">
                    Disable Link
                    <span class="badge primary-text-color secondary-color ">
                        <i class="fas fa-unlink fa-1_6x"> </i>
                        </span>
                </button>
            </div>

            <div class="table-responsive"
                 th:unless="${#lists.isEmpty(file.sharedUsers)}">

                <table class="table primary-text-color">

                    <thead class="">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody class="secondary-text-color">
                    <tr th:each="user:${file.sharedUsers}">
                        <td th:text="${user.username}">John</td>
                        <td th:text="${user.email}">Email@example.com</td>
                        <td>
                            <button type="button" class="button btn btn-danger"
                                    th:attr="onclick=|deleteUserFromShare('${user.id}','${file.id}')|"
                                    onclick="deleteUserFromShare(0,0)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script>
    function addUserToShare(fileId) {
        let username = prompt("Enter username or email of the user that you want to share with:");
        if (!username || username.trim() === "") {
            alert("username or email cannot be empty");
            return;
        }
        fetch("/api/files/share/user?username=" + username + "&fileId=" + fileId, {method: 'PUT'})
            .then(res => {
                    if (res.status === 202) {
                        location.reload();
                    } else {
                        console.log("unknown delete error!");
                        alert("No such user exists!");
                    }
                }
            )
    }

    function toggleVisibility(fileId){
        fetch("/api/files/share/user/link?fileId=" + fileId, {method: 'PUT'})
            .then(res => {
                    if (res.status === 202) {
                        location.reload();
                    } else {
                        alert("An error occurred, try again!")
                    }
                }
            )
    }

    function deleteUserFromShare(userId, fileId) {
        fetch("/api/files/share/user?userId=" + userId + "&fileId=" + fileId, {method: 'DELETE'})
            .then(res => {
                    if (res.status === 204) {
                        location.reload();
                    } else {
                        console.log("unknown delete error!");
                        alert("No such user exists!");
                    }
                }
            )
    }
</script>

</body>
</html>
